DATA SCIENCE TOOLS AND ECOSYSTEM

In this notebook data science tools and ecosystme are summarized.

# H1: Some of the popular languages that Data Scientists use are: 
Ordered list : 
1. Julia 
2. Python
3. R
4. Java
5. MATLAB

Some of the commonly used libraries used by Data Scientists include:
ordered list:
1. IBM CO
2. $ pip install jupiter lab
3. Anaconda
4. Skills network

| Data Science Tools |
| ------------------ |
| Hadoop |
| spark |
| pandas

### H3: Below are a few examples of evaluating arithmetic expressions in Python. 
1. x + y = y + x
2. x(x+y) = x*x + x*y
3. (x+y)*(x+y) = x*x + 2x*y + y*y

In [ ]:
 # This a simple arithmetic expression to mutiply then add integers and execute it 
# (3*4)+5

In [ ]:
17

In [ ]:
This will convert 200 minutes to hours by diving by 60:
# converts 200 minutes into hours

** Objectives **
- Python
- R
- SQL
- Java
- Julia

## H2 : Author 
Vineet Pandey